*.swp
*~
*.pyc
*.pyo
*.sqlite
*.egg-info
dist
build
*.egg
.tox/

# Sphinx built documentation (for testing docs generation)
datagrepper/docs/_build/

.venv
pip-selfcheck.json

.eggs

# Coverage
.coverage
htmlcov
coverage.xml

# Vagrant
.vagrant/
