include requirements.txt
include test-requirements.txt
include createdb.py
include runserver.py
include shell
include README.rst
include API.rst
include datagrepper/API.rst
include COPYING
graft tests
graft apache
graft datagrepper/static
graft datagrepper/docs
recursive-include datagrepper *.py *.mak *.js *.css *.png *.gif *.html
