<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <h1>datagrepper</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% if resp.user %}
    <p>Logged in as {{ resp.user }} &mdash; <a href="{{ url_for('logout') }}">Log out</a></p>
    {% else %}
    <p>Not logged in &mdash; <a href="{{ url_for('login') }}">Log in</a></p>
    {% endif %}
    {% block body %}
    {% endblock %}
  </body>
</html>
{# vim: set ts=2 sw=2 sta et: #}
