<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="History of the fedmsg bus">
    <meta name="author" content="Ralph Bean">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Datagrepper</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/raw.css" rel="stylesheet">
    <style type="text/css">
      div {
          white-space:normal;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        {% if heading %}
        <h1>{{heading}}</h1>
        {% else %}
        <h1>Datagrepper Messages</h1>
        {% endif %}
        <p>See <a href="../">the documentation</a> for information on how to construct queries.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% include 'raw.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
