<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}
  <body>
    {% include '_header.html' %}
    <div class="bodycontent pt-5 pb-5">
      <div class="container">
      {% if request.endpoint == 'index' %}
        <div class="page-header">
          <h1>JSON {{config.BUS_INFO.shortname}} API</h1>
          <p class="lead">Using HTTP GET requests, you can query for all
          kinds of historical data from the <a href="{{config.BUS_INFO.docs}}">
          {{config.BUS_INFO.longname}}</a>: events by username, by package, by message
          source, by topic&hellip; you name it.</p>
          <div class="text-center">
            <span id="odometer" class="odometer">{{ total }}</span>
          </div>
        </div>

        {% if config.WEBSOCKET_URL %}
        <script>
            var count = {{total}};
            $(document).ready(function() {
              WebSocketSetup();
            });

            function WebSocketSetup()
            {
              if ("WebSocket" in window)
              {
                  var element = document.getElementById("odometer");
                  // Let us open a web socket
                  var ws = new WebSocket("{{ config.WEBSOCKET_URL }}");
                  ws.onopen = function(e)
                  {
                      // Web Socket is connected, send data using send()
                      ws.send(JSON.stringify({topic: '__topic_subscribe__', body: '*'}));
                  };
                  ws.onmessage = function (evt)
                  {
                      count = count + 1;
                      element.innerHTML = count;
                  };
                  ws.onclose = function(e){ws=null;};
                  ws.onerror = function(e){ws=null;};
              }
            }
        </script>
        {% endif %}
      {% endif %}
        <div class="row">
          <div class="col-md-12">
            {{ docs }}
          </div>
        </div>
      </div>
    </div>
    {% include '_footer.html' %}  
    <script src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
  </body>
</html>
