<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Datagrepper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if content_security_policy is defined %}
    <meta http-equiv="Content-Security-Policy" content="{{ content_security_policy }}">
    {% endif %}

    <!-- Le styles -->
    <link href="{{theme_css_url}}" rel="stylesheet">
    <style type="text/css">
      .odometer {
        font-size: 70px;
      }
      .odometer-value {
        line-height: 110px !important;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    -->
    <link rel="shortcut icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/css/fedora-bootstrap-fonts.css">
    <!-- Odometr includes -->
    <link rel="stylesheet" href="static/css/odometer.css" />
    <script src="static/odometer.js"></script>
  </head>

  <body>

                <div class="masthead">
                  <div class="container-narrow"><img src="{{datagrepper_logo}}" height="40px"></div>
                </div>
                <nav class="navbar navbar-light navbar-underline p-t-0 p-b-0">
                <div class="container-narrow">
                        <ul class="nav navbar-nav nav-justified nav-underline">
                            <li{% if request.endpoint == 'index' %} class="active nav-item"{% else %} class="nav-item" {% endif %}><a class="nav-link" href="{{ url_for('index') }}">Getting&nbsp;started</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('raw') }}?rows_per_page=1&delta=127800">Feed</a></li>
                            <!-- <li{% if request.endpoint == 'charts' %} class="active"{% endif %}><a href="{{ url_for('charts') }}">Charts</a></li> -->
                            <li{% if request.endpoint == 'reference' %} class="active nav-item" {% else %} class="nav-item" {% endif %}><a class="nav-link" href="{{ url_for('reference') }}">Reference</a></li>
                            <li{% if request.endpoint == 'widget' %} class="active nav-item" {% else %} class="nav-item" {% endif %}><a class="nav-link" href="{{ url_for('widget') }}">Embedding</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://github.com/fedora-infra/datagrepper">Source</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://github.com/fedora-infra/datagrepper/issues">Issues</a></li>
                        </ul>
                </div>
                </nav>
                <div class="bodycontent p-t-lg p-b-lg">
                <div class="container-narrow">

      {% if request.endpoint == 'index' %}
      <div class="page-header">
        <h1>JSON {{message_bus_shortname}} API</h1>
        <p class="lead">Using HTTP GET requests, you can query for all
        kinds of historical data from the <a href="{{message_bus_docs}}">
        {{message_bus_longname}}</a>: events by username, by package, by message
        source, by topic&hellip; you name it.</p>
        <span id="odometer" class="odometer centered visible-sm visible-md visible-lg">{{total}}</span>
      </div>

      {% if websocket_address is defined %}
      <script>
          var count = {{total}};
          $(document).ready(function() {
             WebSocketSetup();
          });

          function WebSocketSetup()
          {
            if ("WebSocket" in window)
            {
                // Let us open a web socket
                var ws = new WebSocket("{{ websocket_address }}");
                ws.onopen = function(e)
                {
                    // Web Socket is connected, send data using send()
                    ws.send(JSON.stringify({topic: '__topic_subscribe__', body: '*'}));
                };
                ws.onmessage = function (evt)
                {
                    count = count + 1;
                    odometer.innerHTML = count;
                };
                ws.onclose = function(e){ws=null;};
                ws.onerror = function(e){ws=null;};
            }
          }
      </script>
      {% endif %}
      {% endif %}

      <div class="row marketing">
        <div class="col-md-12">
          {{ docs }}
        </div>
      </div>
</div>
</div>
    <div class="footer p-t p-b text-center">
        <div class="container-narrow">
            <p class="text-muted credit">
            Datagrepper is Powered by <a href="{{message_bus_docs}}">{{message_bus_shortname}}</a>. The
            <a href="https://github.com/fedora-infra/datagrepper">source</a>
            and
            <a href="https://github.com/fedora-infra/datagrepper/issues">issue tracker</a>
            are available on github.
            </p>
            <p class="text-muted">
            Running <code>datagrepper-{{grepper_version}}</code>,
            <code>datanommer.models-{{models_version}}</code>
            </p>
        </div>
    </div>

    <script src="static/jquery-2.1.0.min.js"></script>
</body></html>
{# vim: set ts=2 sw=2 sta et syn=htmldjango: #}
