<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Datagrepper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Only allow websockets connections to fedoraproject.org. -->
    <meta http-equiv="Content-Security-Policy" content="connect-src '*.fedoraproject.org'">

    <!-- Le styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      /* Smaller heading sizes */
      .marketing h1 {
        font-size: 28px;
      }
      .marketing h2 {
        font-size: 24.5px;
      }
      .marketing h3 {
        font-size: 21px;
      }
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .odometer {
        font-size: 70px;
      }
      .odometer-value {
        line-height: 110px !important;
      }
      .docutils td, th {
        padding: 4px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    -->
    <link rel="shortcut icon" href="static/favicon.png">
    <!-- Odometr includes -->
    <link rel="stylesheet" href="static/css/odometer.css" />
    <script src="static/jquery-2.1.0.min.js"></script>
    <script src="static/odometer.js"></script>
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li{% if request.endpoint == 'index' %} class="active"{% endif %}><a href="{{ url_for('index') }}">Getting started</a></li>
          <li><a href="{{ url_for('raw') }}">Feed</a></li>
          <!-- <li{% if request.endpoint == 'charts' %} class="active"{% endif %}><a href="{{ url_for('charts') }}">Charts</a></li> -->
          <li{% if request.endpoint == 'reference' %} class="active"{% endif %}><a href="{{ url_for('reference') }}">Reference</a></li>
          <li{% if request.endpoint == 'widget' %} class="active"{% endif %}><a href="{{ url_for('widget') }}">Embedding</a></li>
          <li><a href="https://github.com/fedora-infra/datagrepper">Source</a></li>
          <li><a href="https://github.com/fedora-infra/datagrepper/issues">Issues</a></li>
        </ul>
        <h3 class="muted">datagrepper</h3>
      </div>

      <hr>

      {% if request.endpoint == 'index' %}
      <div class="page-header">
        <h1>JSON fedmsg API</h1>
        <p class="lead">Using HTTP GET requests, you can query for all
        kinds of historical data from the <a href="http://fedmsg.com">
        fedmsg bus</a>:  events by username, by package, by message
        source, by topic&hellip; you name it.</p>
        <span id="odometer" class="odometer centered visible-sm visible-md visible-lg">{{total}}</span>
      </div>

      <script>
          var count = {{total}};
          $(document).ready(function() {
             WebSocketSetup();
          });

          function WebSocketSetup()
          {
            if ("WebSocket" in window)
            {
                // Let us open a web socket
                var ws = new WebSocket("wss://hub.fedoraproject.org:9939");
                ws.onopen = function(e)
                {
                    // Web Socket is connected, send data using send()
                    ws.send(JSON.stringify({topic: '__topic_subscribe__', body: '*'}));
                };
                ws.onmessage = function (evt)
                {
                    count = count + 1;
                    odometer.innerHTML = count;
                };
                ws.onclose = function(e){ws=null;};
                ws.onerror = function(e){ws=null;};
            }
          }
      </script>
      {% endif %}

      <div class="row marketing">
        <div class="col-md-12">
          {{ docs }}
        </div>
      </div>

      <hr>

      <div class="footer">
      </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">
            Datagrepper is Powered by <a href="http://fedmsg.com">fedmsg</a>. The
            <a href="https://github.com/fedora-infra/datagrepper">source</a>
            and
            <a href="https://github.com/fedora-infra/datagrepper/issues">issue tracker</a>
            are available on github.
            </p>
            <p class="text-muted">
            Running <code>datagrepper-{{grepper_version}}</code>,
            <code>datanommer.models-{{models_version}}</code>
            </p>
        </div>
    </div>
    </div> <!-- /container -->
</body></html>
{# vim: set ts=2 sw=2 sta et syn=htmldjango: #}
