{% for dict in response %}
    <div class="message-card">
        {% if 'icon' in dict %}
            <a href={{dict['link']}}><img src= {{dict['icon']}}></a>
        {% else %}
            <a href={{dict['link']}}>Link</a>
        {% endif %}
        <img src={{dict['secondary_icon']}}></a>
        <p><b>{{dict['title']}}</b> {{dict['date'].strftime('%Y-%m-%d %H:%M:%S')}} </p>
        <p> {{dict['subtitle']}} </p>
        {% if 'msg_id' in dict %}
            <a href="{{url_for('msg_id')}}?id={{dict['msg_id']}}&is_raw=true"><span class="details-history">Details</span></a>
        {% endif %}
        {% if 'is_raw' in dict %}
            <a href="#" onclick="history.go(-1)">Go Back</a>
        {% endif %}
    </div>
{% endfor %}

