{% for dict in response %}
    <pre>
        <div>
            <p><b>{{dict['title']}}</b></p>
            <p> {{dict['subtitle']}} </p>
            <div class="icon-history">
            {% if 'icon' in dict %}
                <A HREF={{dict['link']}}><Img SRC= {{dict['icon']}} WIDTH=30 HEIGHT=40></A>&nbsp;&nbsp;&nbsp;
            {% else %}
                <A HREF={{dict['link']}}>link</A>
            {% endif %}
                <Img SRC={{dict['secondary_icon']}} WIDTH=30 HEIGHT=40></A></br>
            </div> 
            {% if 'msg_id' in dict %}
                <A HREF="/id?id={{dict['msg_id']}}&is_raw=true"><span class="details-history">Details</span></A>
            {% endif %}
            {% if 'is_raw' in dict %}
                <A HREF="#" onclick="history.go(-1)">Go Back</A>
            {% endif %}
        </div>
    </pre>
{% endfor %}


