# Beware that the quotes around the values are mandatory
# This is read as a Python source code file

### Secret key for the Flask application
SECRET_KEY='secret key goes here'

# vim: set ft=python:
