on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

name: Run tests

jobs:

  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit checks
        run: pre-commit run --all-files

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install tox
        run: pip install tox

      - name: Build the docs
        run: tox -e docs

      - name: Save the docs
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: datagrepper/docs/_build/html


  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run unit tests with Tox
        uses: fedora-python/tox-github-action@master
        with:
          tox_env: ${{ matrix.tox_env }}

      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v1
      #   with:
      #     name: ${{ matrix.tox_env }}
      #     flags: unittests
      #     env_vars: PYTHON
      #     fail_ci_if_error: true

    strategy:
      matrix:
        tox_env:
          - py36
          - py37
          - py38
          - py39
